body {
    background-color: #ffeecf;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-area {
    position: relative;
    width: 200px;
    height: 300px;
}

#character img {
    position: absolute;
    width: 100%;
    height: auto;
}

.controls {
    margin-top: 20px;
}

.option-container {
    margin-bottom: 10px;
}

button {
    margin: 5px;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: #f9a825;
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: #ffcc80;
}
